@font-face {
    font-family: 'PF BeauSans Pro';
    src: url('./BeauSansPro/PFBeauSansPro-SemiBoldItalic.woff2') format('woff2'),
        url('./BeauSansPro/PFBeauSansPro-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'PF BeauSans Pro XThin';
    src: url('./BeauSansPro/PFBeauSansPro-XThinItalic.woff2') format('woff2'),
        url('./BeauSansPro/PFBeauSansPro-XThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'PF BeauSans Pro';
    src: url('./BeauSansPro/PFBeauSansPro-Regular.woff2') format('woff2'),
        url('./BeauSansPro/PFBeauSansPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PF BeauSans Pro';
    src: url('./BeauSansPro/PFBeauSansPro-Light.woff2') format('woff2'),
        url('./BeauSansPro/PFBeauSansPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'PF BeauSans Pro';
    src: url('./BeauSansPro/PFBeauSansPro-LightItalic.woff2') format('woff2'),
        url('./BeauSansPro/PFBeauSansPro-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'PF BeauSans Pro';
    src: url('./BeauSansPro/PFBeauSansPro-Bold.woff2') format('woff2'),
        url('./BeauSansPro/PFBeauSansPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PF BeauSans Pro';
    src: url('./BeauSansPro/PFBeauSansPro-Black.woff2') format('woff2'),
        url('./BeauSansPro/PFBeauSansPro-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'PF BeauSans Pro';
    src: url('./BeauSansPro/PFBeauSansPro-Italic.woff2') format('woff2'),
        url('./BeauSansPro/PFBeauSansPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PF BeauSans Pro';
    src: url('./BeauSansPro/PFBeauSansPro-ThinItalic.woff2') format('woff2'),
        url('./BeauSansPro/PFBeauSansPro-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'PF BeauSans Pro';
    src: url('./BeauSansPro/PFBeauSansPro-BoldItalic.woff2') format('woff2'),
        url('./BeauSansPro/PFBeauSansPro-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'PF BeauSans Pro XThin';
    src: url('./BeauSansPro/PFBeauSansPro-XThin.woff2') format('woff2'),
        url('./BeauSansPro/PFBeauSansPro-XThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'PF BeauSans Pro';
    src: url('./BeauSansPro/PFBeauSansPro-BlackItalic.woff2') format('woff2'),
        url('./BeauSansPro/PFBeauSansPro-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'PF BeauSans Pro Bbook';
    src: url('./BeauSansPro/PFBeauSansPro-BbookItalic.woff2') format('woff2'),
        url('./BeauSansPro/PFBeauSansPro-BbookItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'PF BeauSans Pro';
    src: url('./BeauSansPro/PFBeauSansPro-Thin.woff2') format('woff2'),
        url('./BeauSansPro/PFBeauSansPro-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'PF BeauSans Pro';
    src: url('./BeauSansPro/PFBeauSansPro-SemiBold.woff2') format('woff2'),
        url('./BeauSansPro/PFBeauSansPro-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'PF BeauSans Pro Bbook';
    src: url('./BeauSansPro/PFBeauSansPro-Bbook.woff2') format('woff2'),
        url('./BeauSansPro/PFBeauSansPro-Bbook.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
