@import './base.scss';
@import '../fonts/fonts.scss';


.wrapper{
    min-width: 980px;
    width:100%;
    display: flex;
    flex-direction: column;
    min-height: 650px;
}

.header{
    display: flex;
    flex: 0 0 auto;
    margin-bottom: 50px;
    
}

.container{
    width: 1170px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.content{
    display: flex;
    flex: 1 0 auto;
}

.footer{
    display: flex;
    flex: 0 0 auto;
}


.header-top{
    padding-top: 38px;
    padding-bottom: 38px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 217px;
    height: 51px;
}

.search__label{
width: 312px;
height: 26px;
position: relative;
margin-right: 8px;

&:before{
    position: absolute;
    content: "";
    display: block;
    background-image: url('../images/search16.svg');
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    left: 9px;
    top: 3px;
}
}

.bascket__item-label{
    width: 50px;
height: 26px;
position: relative;
}

.input-text{
    width: 100%;
    height: 100%;
    border-style: solid;
border-width: 1px;
border-color: #d5d5d5;
box-shadow: inset 0 0 2px 0px #d5d5d5;
border-radius: 3px;
padding-left: 30px;
}

.search__input{
   
}

.search__btn{
    border-radius: 3px;
    background-color:  #17709a;
    width: 68px;
    height: 29px;
}


.search__title{
    font-family: Arial;
color:  #ffffff;
font-size: 12px;
font-weight: 400;
letter-spacing: -0.12px;
line-height: 16px;
text-transform: uppercase;
}

.search{
    display: flex;
    align-items: flex-end;
}

.nav{
    width: 100%;
}
.nav__list{
    display: flex;
    width: 100%;
}


.nav__item {
    background: -webkit-linear-gradient(0deg, #92c8e1 0%, #b2daed 100%);
    background: -moz-linear-gradient(0deg, #92c8e1 0%, #b2daed 100%);
    background: -o-linear-gradient(0deg, #92c8e1 0%, #b2daed 100%);
    background: -ms-linear-gradient(0deg, #92c8e1 0%, #b2daed 100%);
    align-items: center;
    padding-right: 9px;
    display: flex;

    &:first-child{
        border-top-left-radius: 8px;

        &>.nav__link{
            padding-right: 56px;
        }
    }
    &:last-child{
        border-top-left-radius: 0;
        border-top-right-radius: 8px;
    }

}

.nav__link {
    font-family: 'PF BeauSans Pro', Helvetica,Arial, sans-serif;
    color: #4b4b4b;
    font-size: 15px;
    font-weight: 300;
    text-align: left;
    padding-left: 27px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 13px;
    display: block;
    text-transform: uppercase;
}

.nav__img{
    width: 20px;
    height: 20px;
    margin-right: 2px;
}

.breadcrumbs__link_active{
    text-decoration: underline;
}
.breadcrumbs__list {
    width: 100%;
    display: flex;
}
li.breacrumbs__item+li.breacrumbs__item{
    &:before{
        content: "/";
        display: inline-block;
        margin-right: 15px;
        margin-left: 15px;
    }
}

.title{
    padding-top: 18px;
    padding-bottom: 30px;
}

.title__page {
    font-family: 'PF BeauSans Pro', Helvetica,Arial, sans-serif;
    color: #0a7eb5;
    font-size: 30px;
    font-weight: 300;
    text-align: left;
    text-transform: uppercase;
}


.bascket__top{
    background-color:  #d9e8ef;
    padding: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bascket-checked{
    font-family: 'PF BeauSans Pro', Helvetica,Arial, sans-serif;
color:  #333333;
font-size: 16px;
font-weight: 300;
line-height: 30px;
text-align: left;
}

.bascket-checked_count{
    font-weight: bold;
}

.bascket-remove__btn{
    font-family: 'PF BeauSans Pro', Helvetica,Arial, sans-serif;
color:  #333333;
font-size: 14px;/* Приближение из-за подстановки шрифтов */
font-weight: 300;
text-align: left;
padding-bottom: 1px;
position: relative;
margin-left: 5px;
 &:after{
    position: absolute;
    width: 100%;
    background-color:  #333333;
    height: 1px;
    bottom: 0;
    content: "";
 }
}

.bascket-remove {
    display: flex;
}

.bascket-remove__img {
    background-color: #a4a4a4;
    width: 20px;
    height: 20px;
}

.bascket-remove__icon {
    width: 20px;
    height: 20px;
    fill: #d9e8ef;
}

.bascket__item-block {
    display: flex;
    justify-content: center;
    align-items: center;
}
.bascket__item-block+.bascket__item-block{
    border-left: 1px dotted black;
}

.bascket__list {
    padding: 10px 14px;
}

li.bascket__item {
    display: flex;
    justify-content: space-between;
}

.bascket__item-calculation {
    display: flex;
    align-items: center;
}