@import './base.scss';
@import '../fonts/fonts.scss';


.wrapper{
    width:100%;
    display: flex;
    flex-direction: column;
    min-height: 650px;
    height: 100%;
}

.header{
    display: flex;
    flex: 0 0 auto;
    margin-bottom: 50px;
    
}

.container{
    max-width: 1110px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
}
.content{
    display: flex;
    flex: 1 0 auto;
}

.footer{
    display: flex;
    flex: 0 0 auto;
}


.header-top{
    padding-top: 32px;
    padding-bottom: 36px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 217px;
    height: 57px;
    margin-left: 12px;
}

.search__label{
width: 312px;
height: 26px;
position: relative;
margin-right: 8px;

&:before{
    position: absolute;
    content: "";
    display: block;
    background-image: url('../images/search16.svg');
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    left: 9px;
    top: 3px;
}
}

.bascket__item-label{
    width: 50px;
height: 26px;
position: relative;
}

.input-text{
    width: 100%;
    height: 100%;
    border-style: solid;
border-width: 1px;
border-color: #d5d5d5;
box-shadow: inset 0 0 2px 0px #d5d5d5;
border-radius: 3px;
padding-left: 30px;
}

.search__input{
   
}

.search__btn{
    border-radius: 3px;
    background-color:  #17709a;
    width: 68px;
    height: 29px;
}


.search__title{
    font-family: Arial;
color:  #ffffff;
font-size: 12px;
font-weight: 400;
letter-spacing: -0.12px;
line-height: 16px;
text-transform: uppercase;
}

.search{
    display: flex;
    align-items: flex-end;
}

.nav{
    width: 100%;
}
.nav__list{
    display: flex;
    width: 100%;
}


.nav__item {
    background: -webkit-linear-gradient(0deg, #92c8e1 0%, #b2daed 100%);
    background: -moz-linear-gradient(0deg, #92c8e1 0%, #b2daed 100%);
    background: -o-linear-gradient(0deg, #92c8e1 0%, #b2daed 100%);
    background: -ms-linear-gradient(0deg, #92c8e1 0%, #b2daed 100%);
    align-items: center;
    display: flex;

    &:first-child{
        border-top-left-radius: 8px;
        padding: 17px 12px 17px 26px;
        width: 280px;
        justify-content: space-between;
        letter-spacing: 0.9px;
        z-index: 100;
    }

    &:nth-child(2){
        border-top-right-radius: 8px;
        padding: 17px 5px 17px 30px;
        width: 154px;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        letter-spacing: 0.9px;
        margin-left: -15px;
        z-index: 90;

    }
    &:nth-child(3){
        border-top-right-radius: 8px;
        padding: 17px 5px 17px 26px;
    width: 256px;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        letter-spacing: 0.9px;
        margin-left: -15px;
        z-index: 80;

    }
    &:nth-child(4){
        border-top-right-radius: 8px;
        padding: 17px 5px 17px 30px;
        width: 258px;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        letter-spacing: 0.9px;
        margin-left: -15px;
        z-index: 70;

    }
    &:last-child{
        border-top-left-radius: 0;
        border-top-right-radius: 8px;
        padding: 17px 5px 17px 30px;
        width: 223px;
        justify-content: space-between;
        letter-spacing: 0.9px;
        margin-left: -15px;
        z-index: 60;
    }

}


.nav__link {
    font-family: 'PF BeauSans Pro', Helvetica,Arial, sans-serif;
    color: #4b4b4b;
    font-size: 15px;
    font-weight: 300;
    text-align: left;

    display: block;
    text-transform: uppercase;
    white-space: nowrap;
}

.nav__img{
    width: 20px;
    height: 20px;
}

.breadcrumbs__link_active{
    text-decoration: underline;
}
.breadcrumbs__list {
    width: 100%;
    display: flex;
}
li.breacrumbs__item+li.breacrumbs__item{
    &:before{
        content: "/";
        display: inline-block;
        margin-right: 5px;
        margin-left: 8px;
    }
}

.title{
    padding-top: 11px;
    padding-bottom: 22px;
}

.title__page {
    font-family: 'PF BeauSans Pro', Helvetica,Arial, sans-serif;
    color: #0a7eb5;
    font-size: 30px;
    font-weight: 300;
    text-align: left;
    text-transform: uppercase;
}


.bascket__top{
    background-color:  #d9e8ef;
    padding: 7px 20px 7px 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bascket-checked{
    font-family: 'PF BeauSans Pro', Helvetica,Arial, sans-serif;
color:  #333333;
font-size: 16px;
font-weight: 300;
line-height: 30px;
}

.bascket-checked_count{
    font-weight: bold;
}

.btn-underline{
    font-family: 'PF BeauSans Pro', Helvetica,Arial, sans-serif;
    color:  #333333;
    padding-bottom: 1px;
    position: relative;
    margin-left: 5px;
    text-transform: uppercase;
     &:after{
        position: absolute;
        width: 100%;
        background-color:  #333333;
        height: 1px;
        bottom: 0;
        content: "";
        left: 0;
        top: 16px;
        right: 0;
     }
}
.calc-quant-amount__save{
    color:  #006296;
    font-size: 12px;
    font-weight: 500;
    margin-right: 20px;
        &:after{
            background-color:  #006296;
        }
}
.calc-quant-amount__cancel{
    color:  #333333;
font-size: 12px;
font-weight: 500;
   
}
.bascket-remove__btn{
  text-transform: none;

  font-size: 14px;
  font-weight: 300;
}

.bascket-remove {
    display: flex;
}

.bascket-remove__img {
    background-color: #a4a4a4;
    width: 20px;
    height: 20px;
}

.bascket-remove__icon {
    width: 20px;
    height: 20px;
    fill: #d9e8ef;
}

.bascket__item-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;

        &:first-child{
            width: 88px;
            padding: 25px 20px;
        }

        &:nth-child(2){
            width: 93px;
        }
        &:nth-child(3){
            width: 637px;
    padding-right: 110px;
        }

        &:last-child{
            width: 303px;
        }
}
.bascket__item-block+.bascket__item-block{
    background-image: linear-gradient(to bottom, #333 10%, rgba(255, 255, 255, 0) 0%);
    background-position: left;
    background-size: 1px 5px;
    background-repeat: repeat-y;
}

.bascket__list {

    border-bottom: 1px solid #a4a4a4;
    margin-bottom: 10px;
    padding-bottom: 15px;


}
.product-img {
    width: 66px;
    height: 66px;
}
.bascket__item {
    display: flex;
    flex: 1;

    &:hover{
        background-color:  rgba(232, 232, 232, 0.6);

    }
 
    &:nth-child(odd){
        background-color:  rgba(232, 232, 232, 0.9);
    }

}

.bascket__item-calculation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1;
    position: relative;
}

.product-checkbox{
    display: none;
}

.checkbox-fake {
	position: relative;     
	width: 20px;             
	height: 20px;           
	border: 2px solid #ccc;
    border-radius: 3px;
    margin-right: 15px;
}

.product-checkbox:checked + .checkbox-fake::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 1px;
    background-image: url('../images/checked.svg');
    width: 15px;
    height: 15px;
    background-size: contain;
}


.checkbox-label{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}



.input-count {
    padding-left: 0;
    background-color: white;
    position: relative;
    text-align: center;
}


.bascket__item-amount{
    font-family: 'PF BeauSans Pro', Helvetica,Arial, sans-serif;
color:  #252525;
font-size: 14px;
font-weight: 400;
font-style: normal;
max-width: 33.3%;
    width: 33.3%;
}

.computing {
    padding-top: 13px;
    padding-bottom: 23px;
    padding-left: 20px;
    padding-right: 26px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-image: linear-gradient(to right, #333 10%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 5px 1px;
    background-repeat: repeat-x;

}
.vat-title {
    padding-right: 55px;
}
.subtotal {
    margin-bottom: 16px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.computing-title{
    padding-right: 43px;
    font-family: 'PF BeauSans Pro', Helvetica,Arial, sans-serif;
color:  #626262;
font-size: 14px;
font-weight: 400;
font-style: normal;
}

.calc{
    font-family: 'PF BeauSans Pro', Helvetica,Arial, sans-serif;
color:  #252525;
font-size: 18px;
font-weight: 700;
font-style: normal;
}

.footer__container {
    padding-top: 16px;
    padding-bottom: 100px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    width: 100%;
}

.total-title{
    font-family: 'PF BeauSans Pro', Helvetica,Arial, sans-serif;
color:  #0a7eb5;
font-size: 14px;
font-weight: 400;
text-transform: uppercase;
padding-right: 12px;
}

.total-calc{
    font-family: 'PF BeauSans Pro', Helvetica,Arial, sans-serif;
color:  #0a7eb5;
font-size: 24px;
font-weight: 700;
padding-right: 34px;
}

.calc-quant-amount {
    padding-top: 20px;
    padding-left: 31px;
    padding-bottom: 20px;
    padding-right: 31px;
    display: none;
    box-shadow: 1px 1px 8px 2px grey;
    flex-direction: column;
    position: absolute;
    background-color: white;
    top: 28px;
    z-index: 2;
    min-width: 315px;

}

.calc-quant-amount_active{
    display: flex;
}

.calc-quant-amount-title{
color:  rgba(0, 101, 153, 0.98);
font-size: 15px;
font-weight: 500;
padding-bottom: 20px;
text-align: left;
}

.calc-quant-amount-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}

.calc-quant-amount__btn {
    background-color: #559abc;
    padding: 2px 7px;
    color: white;
    text-transform: uppercase;
    margin-left: 5px;
    margin-right: 5px;
}

.calc-quant-amount-price{
color:  #333333;
font-size: 14px;
font-weight: 400;
text-transform: uppercase;
padding-right: 3px;
max-width: 20%;
    width: 100%;

&:after{
    content: 'x';
    margin-left: 5px;
}
}

.calc-quant-amount-link {
    display: flex;
    justify-content: flex-start;
}
.calc-quant-amount-total {
    padding-left: 5px;
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    padding-right: 3px;

}

.calc_currency{
    &:after{
        content: 'Ñ€';
        margin-left: 5px;
        margin-right: 5px;
    }
}
.basket__item_hidden{
    display: none;
}

.bascket__item-price{
    max-width: 33.3%;
    width: 33.3%;
}

.bascket__item-count {
    max-width: 33.3%;
    width: 33.3%;
    display: flex;
    justify-content: center;
}